.bar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  width: 95%;
  padding-bottom: 10px;
  font-family: Source Sans Pro;
}

.current-time {
  color: #64d19f;
}

.total-time {
  color: #fff;
}

.duration {
  opacity: 0.6;
  transition: opacity 0.2s ease-in;
}

.duration:hover {
  opacity: 1;
}

.players {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.colored-players {
  cursor: pointer;
  width: 70px;
  padding-left: 30px;
}

.white-players {
  cursor: pointer;
  width: 70%;
}

.player {
  opacity: 0.7;
  transition: opacity 0.2s ease-in;
}

.player:hover {
  opacity: 1;
}
